#cloud-config
write_files:
  - path: /root/.ssh/ansible_ed25519
    owner: root:root
    permissions: "0600"
    encoding: b64
    content: ${private_key_b64}

runcmd:
  - mkdir -p /root/.ssh
  - chmod 700 /root/.ssh
  - pipx ensurepath
  - pipx install ansible-core
  - ln -s /root/.local/bin/ansible /usr/local/bin/ansible
  - ln -s /root/.local/bin/ansible-playbook /usr/local/bin/ansible-playbook
  - ansible --version

  # Preload GitHub host key into known hosts (avoid interactive prompt)
  - |
    cat << 'EOF' >> /root/.ssh/known_hosts 
    ${github_ssh_host_key} 
    EOF
  - chmod 600 /root/.ssh/known_hosts

  # Clone Ansible repo
  - git clone https://github.com/Tata-Matata/ansible-family-space.git /opt/ansible-family-space
  
packages:
  - python3
  - python3-venv
  - python3-pip
  - pipx
  - git
  - rsync
