#cloud-config
# Part1. Configure private network egress routing via bastion server
# 10.50.0.1 = Hetzner fabric router. Bastion is chosen later as default gateway by the fabric via the hcloud_network_route.
# when Linux kernel routing decides where to send packets that are not for my local subnet, 
# we give it the next hop that exists on its link (10.50.0.1)
# it can be determined by "ip route" command on the private server (10.50.0.0/16 via 10.50.0.1 dev enp7s0)
# “To reach any IP in 10.50.0.0/16, send the packet to gateway 10.50.0.1, using interface enp7s0.”
#
# Part2. Set up DNS servers (1.1.1.1 Cloudflare DNS)
write_files:
  - path: /etc/systemd/network/10-private-egress.network
    owner: root:root
    permissions: "0644"
    content: |
      [Match]
      Name=enp7s0

      [Network]
      DHCP=yes 
      DNS=1.1.1.1 
      DNS=8.8.8.8

      [Route]
      Destination=0.0.0.0/0
      Gateway=10.50.0.1
      GatewayOnLink=yes

runcmd:
  - systemctl restart systemd-networkd
